<Title:>
  Chat &lpar;((_numMessages))&rpar; - ((_user.name))

<Head:>
  <meta name=viewport content="width=device-width">

<Body:>
  <!--
  Derby templates are similar to Mustache, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.
  -->
  ((> info))
  <div id=messages><ul id=messageList>((_room.messages > message))</ul></div>
  <div id=foot>
    <img id=inputPic src=img/s.png class=((_user.picClass)) alt="">
    <div id=inputs>
      <input id=inputName value=((_user.name))>
      <form id=inputForm x-bind=submit:postMessage>
        <input id=commentInput value=((_newComment)) autofocus>
      </form>
    </div>
  </div>

<info:>
  <!--
  connected and canConnect are built-in properties of model. If a variable
  is not defined in the current context, it will be looked up in the model data
  and the model properties
  -->
  <div id=info>
    ((^connected))
      ((#canConnect))
        <!-- Leading space is removed, but trailing space is maintained -->
        Offline 
        ((#_showReconnect))&ndash; <a x-bind=click:connect>Reconnect</a>((/))
      ((^))
        Unable to reconnect &ndash; <a x-bind=click:reload>Reload</a>
      ((/))
    ((/))
  </div>

<message:>
  <!-- Square brackets can be used to do interpolation within a model name. -->
  <li><img src=img/s.png class={{users.[userId].picClass}} alt="">
    <div class=message>
      <p><b>((users.[userId].name))</b>
      <p>{{comment}}
    </div>
