<!--
  Derby templates are similar to Mustache, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Mustache, double and triple curly braces output a value literally.
  Derby templates add double and triple parentheses, which output a value
  and set up model <- -> view bindings for that object.

  Elements that end in colon define the names of views. Pre-defined views are
  capitalized by convention, but view names are case-insensitive. Pre-defined views
  are automatically included when the page is rendered.
-->

<Title:>
  Chat &lpar;((_numMessages))&rpar; - ((_user.name))

<Head:>
  <meta name=viewport content="width=device-width">

<Body:>
  <div id=page>
    <!-- Partials use Mustache syntax -->
    {{> info}}
    <!-- An object can be passed into the partial to set its context -->
    <div id=messages><ul id=messageList>((each _room.messages > message))</ul></div>
    <div id=foot>
      <img id=inputPic src=/img/s.png class="pic ((_user.picClass))" alt="">
      <div id=inputs>
        <input id=inputName value=((_user.name))>
        <form id=inputForm x-bind=submit:postMessage>
          <input id=commentInput value=((_newComment)) autofocus>
        </form>
      </div>
    </div>
  </div>

<!--
  connected and canConnect are built-in properties of model. If a variable
  is not defined in the current context, it will be looked up in the model
  data and the model properties
-->
<info:>
  <div id=info>
    <!--
      Mustache syntax is used for conditional blocks, except that the
      name need not be repeated in the closing tag or if-else blocks
    -->
    ((#unless connected))
      <p>
        ((#if canConnect))
          <!-- Leading space is removed, and trailing space is maintained -->
          Offline 
          ((#if _showReconnect))&ndash; <a x-bind=click:connect>Reconnect</a>((/))
        ((else))
          Unable to reconnect &ndash; <a x-bind=click:reload>Reload</a>
        ((/))
      </p>
    ((/))
  </div>

<message:>
  <!-- Square brackets perform interpolation within a model name -->
  <li>
    <img src=img/s.png class="pic {{users.[userId].picClass}}" alt="">
    <div class=message>
      <p class=time>((._displayTime))</p>
      <p><b>((users.[userId].name))</b></p>
      <p>{{comment}}</p>
    </div>
  </li>
