{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "globals": {
    "window": false,
    "document": false
  },
  "root": true,
  "ignorePatterns": ["dist/"],
  "rules": {
    "comma-style": [
      2,
      "last"
    ],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "new-cap": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-undef": 2,
    "no-shadow": 0,
    "no-unused-expressions": 2,
    "no-cond-assign": [
      2,
      "except-parens"
    ],
    "no-unused-vars": ["off", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      // Files that are only run in Node can use more modern ES syntax.
      "files": ["**/*ForServer.js", "test/**/*.mocha.js"],
      "parserOptions": {
        // Node 16 LTS supports up through ES2021.
        "ecmaVersion": 2021
      }
    },
    {
      "files": ["test/**/*.js"],
      "env": {"mocha": true, "node": true}
    },
    {
      "files": ["src/**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "prettier", "import"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": ["warn", { "ignoreRestArgs": false }],
        "import/no-unresolved": "error",
        "import/order": [
          "error",
          {
            "groups": [
              "builtin",
              "external",
              "internal",
              ["sibling", "parent"],
              "index",
              "unknown"
            ],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ]
      }
    }
  ]
}
