{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "globals": {
    "window": false,
    "document": false
  },
  "rules": {
    "comma-style": [
      2,
      "last"
    ],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "new-cap": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-undef": 2,
    "no-shadow": 0,
    "no-unused-expressions": 2,
    "no-cond-assign": [
      2,
      "except-parens"
    ]
  },
  "overrides": [
    {
      // Files that are only run in Node can use more modern ES syntax.
      "files": ["**/*ForServer.js", "test/**/*.mocha.js"],
      "parserOptions": {
        // Node 16 LTS supports up through ES2021.
        "ecmaVersion": 2021
      }
    },
    {
      "files": ["test/**/*.js"],
      "env": {"mocha": true, "node": true}
    }
  ]
}
