@import "../reset";

body {
  background: #bbb;
  color: #000;
}
a {
  color: #01c;
}
li {
  margin: 8px 0;
  clear: both;
}
input {
  box-sizing: border-box;
  margin: 0;
  padding: 1px;
  height: 22px;
}
#page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#alert {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
#alert > p {
  background: #fff1a8;
  border: 1px solid #999;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  display: inline-block;
  line-height: 21px;
  padding: 0 12px;  
}
#messages {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  left: 0;
  right: 0;
  top: 0;
  bottom: 65px;
  position: absolute;
}
#messageList {
  list-style: none;
  position: relative;
  overflow: hidden;
}
.message,#inputs {
  margin: 0 8px 0 64px;
}
.message {
  background: #fff;
  border-radius: 8px;
  min-height: 32px;
  padding: 8px 12px;
  white-space: pre;
}
.time {
  float: right;
  color: #888;
}
.pic {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  margin: 0 8px;
}
.pic0,.pic1,.pic2,.pic3,.pic4,.pic5,.pic6,.pic7,.pic8,.pic9 {
  height: 480px;
}
picClip(num) {
  clip: rect(48px * num, 48px, 48px * (num + 1), 0);
  margin-top: -48px * num;
}
.pic0 { picClip: 0 }
.pic1 { picClip: 1 }
.pic2 { picClip: 2 }
.pic3 { picClip: 3 }
.pic4 { picClip: 4 }
.pic5 { picClip: 5 }
.pic6 { picClip: 6 }
.pic7 { picClip: 7 }
.pic8 { picClip: 8 }
.pic9 { picClip: 9 }

#foot {
  background: #ddd;
  width: 100%;
  height: 48px;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0;
  padding: 8px 0;
}
#inputForm {
  margin-top: 4px;
}
#commentInput {
  width: 100%;
}
