<Title:>
  Gallery

<Header:>
  <app:alert>

<Body:>
  <div>
    {#if _image}
      <div id=lightbox>
        <app:photo source="{{source}}" size="m">
      </div>
    {/}
  </div>
  <div>
    {#each _pages}
      <div>
        {#each this}
          <a x-bind="click: select">
            <app:photo source="{{source}}">
          </a>
        {/}
      </div>
    {/}
  </div>

<alert:>
  <div id="alert">
    {#unless connected}
      <p>
        {#if canConnect}
          Offline 
          {#if _showReconnect}&ndash; <a x-bind="click: connect">Reconnect</a>{/}
        {else}
          Unable to reconnect &ndash; <a x-bind="click: reload">Reload</a>
        {/}
      </p>
    {/}
  </div>

<photo:>
  <img
    alt={{this.title}}
    src="{{photoSrc(this, {{{source}}}, {{{size}}} )}}"
    width="{{photoWidth(this, {{{source}}}, {{{size}}} )}}"
    height="{{photoHeight(this, {{{source}}}, {{{size}}} )}}"
  >
