<Title:>
  Gallery

<Header:>
  {{> alert}}

<Body:>
  <div>
    {#if _image}
      <div id=lightbox>
        <img src="{{flickrPhoto(this, 'm')}}">
      </div>
    {/}
  </div>
  <div>
    {#each _pages}
      <div>
        {#each this}
          {{#if this}}<img src="{{flickrPhoto(this)}}" width=75 height=75 x-bind="click: select">{{/}}
        {/}
      </div>
    {/}
  </div>

<alert:>
  <div id="alert">
    {#unless connected}
      <p>
        {#if canConnect}
          Offline 
          {#if _showReconnect}&ndash; <a x-bind="click: connect">Reconnect</a>{/}
        {else}
          Unable to reconnect &ndash; <a x-bind="click: reload">Reload</a>
        {/}
      </p>
    {/}
  </div>
