<Title:>
  Gallery

<Header:>
  <app:alert>

<Body:>
  <div id=lightbox>
    <div>
      <app:photo source="{{source}}" size="m" data="{_image0}" opacity="{_fade0}">
    </div>
    <div>
      <app:photo source="{{source}}" size="m" data="{_image1}" opacity="{_fade1}">
    </div>
  </div>
  <div>
    {#each _pages}
      <div>
        {#each this}
          <a x-bind="mouseover: select">
            <app:photo source="{{source}}" data="{{this}}">
          </a>
        {/}
      </div>
    {/}
  </div>

<photo:>
  <img
    alt="{{{data.title}}}"
    style="opacity:{{{opacity}}}"
    src="{{{photoSrc(data, source, size)}}}"
    width="{{{photoWidth(data, source, size)}}}"
    height="{{{photoHeight(data, source, size)}}}"
  >

<alert:>
  <div id="alert">
    {#unless connected}
      <p>
        {#if canConnect}
          Offline 
          {#if _showReconnect}&ndash; <a x-bind="click: connect">Reconnect</a>{/}
        {else}
          Unable to reconnect &ndash; <a x-bind="click: reload">Reload</a>
        {/}
      </p>
    {/}
  </div>
