@import "nib/vendor";

p {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
}
body,
select {
  font: 13px/normal arial,sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.css {
  list-style: none;
  padding-left: 1em;
  margin: 0
}

#tableEditor {
  table {
    user-select: none;
  }
  th {
    cursor: move;
    padding: 0 4px;
  }
  .foot {
    text-align: center;
  }
}
