@import "../base";

body {
  padding-top: 0;
  background: #333;
}

.lightbox {
  position: relative;
  height: 300px;
  width: 500px;
  margin: 0 auto;
}
.photobox {
  transition: opacity .5s ease-in-out;
  display: table-row;
  > .photo {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
  }
  .photoOffset {
    position: absolute;
    top: 50%;
    left: 50%;
    > img {
      display: block;
      border-radius: 12px;
      box-shadow: 0 1px 1px #222, 0 2px 16px #222;
    }
  }
  > .caption {
    position: absolute;
    width: 200px;
    left: 300px;
    top: 0;
    padding-left: 24px;
    padding-top: 72px;
    > h3 {
      color: #ddd;
      font: 200 20px/1.2 'Helvetica Neue';
    }
  }
}

.thumb {
  margin: 2px;
  float: left;
  border: 0;
}
.thumb > img {
  display: block;
}

#alert {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 99;
}
#alert > p {
  background: #fff1a8;
  border: 1px solid #999;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  display: inline-block;
  line-height: 21px;
  padding: 0 12px;
}
