<Body:>
  <h1 style="color:((unspace(titleColor)))">Welcome in ((titleColor))!</h1>
  <p>This is a collection of random demos. Check 'em out!</p><br>
  <p>
    <label>Title color: 
      <select>
        {{#each titleColors}}
          <option selected="((equal(capitalizeFirst(titleColor), .this)))">{{this}}</option>
        {{/}}
      </select>
    </label>
  </p><br>
  <p><a href=#jump>Test jump link</a></p><br>
  <p><a href=/live-css/popout>Test Live CSS popped out</a></p>
  <p style="margin:400px 0 1000px">
    <span id=jump>Jumped!</span> - 
    <a href="#">Back to top</a> - 
    <a href=/live-css>Go to Live CSS</a>
  </p>
