<import: src=home>
<import: src=liveCss>
<import: src=tableEditor>
<import: src=leaderboard>
<import: src=submit>
<import: src=bindingsBench>

<Title:>
  Derby demo: {{title}}

<Header:>
  <body class={{currentPage}}>
  <!-- components are void by default, and should not have a closing tag -->
  <app:alert>
  <!-- if a component is nonvoid, it must have a closing tag -->
  <app:nav>
    {{#each pages}}
      {{#if current}}
        <b>{{text}}</b>
      {{else}}
        <a href={{url}}>{{text}}</a>
      {{/}}
      {{#unless isLast}} | {{/}}
    {{/}}
  </app:nav>

<alert:>
  <div id=alert>
    {#unless connected}
      <p>
        {#if canConnect}
          <!-- Leading space is removed, and trailing space is maintained -->
          Offline 
          {#if _showReconnect}&ndash; <a x-bind=click:connect>Reconnect</a>{/}
        {else}
          Unable to reconnect &ndash; <a x-bind=click:reload>Reload</a>
        {/}
      </p>
    {/}
  </div>

<nav: nonvoid>
  <nav>
    <!-- nonvoid components support a special `content` macro -->
    {{{content}}}
    <hr>
  </nav>
