<liveCss:>
  <select multiple>
    <optgroup label="CSS properties">
      ((#liveCss.styles))<option selected=((.active))>((.prop))</option>((/))
    </optgroup>
  </select>
  <div>
    ((#liveCss.styles))
      <p>
        <input type=checkbox checked=((.active))> 
        <input value=((.prop)) disabled=!((.active))> 
        <input value=((.value)) disabled=!((.active))> 
        <button x-bind=click:deleteStyle>Delete</button>
      </p>
    ((/))
  </div>
  <button x-bind=click:addStyle>Add</button>
  <h3>Currently applied:</h3>
  <div>
    ((#_numStyles))
      <p>{</p>
      <ul class=css>
        ((#liveCss.styles :style))
          <li x-displayed=((:style.active))>((> cssProperty))</li>
        ((/))
      </ul>
      <p>}</p>
    ((^))
      (None)
    ((/))
  </div>
  <h3>Output:</h3>
  <p style="((liveCss.styles :style > cssProperty))" contenteditable>
    (((liveCss.outputText)))
  </p>

<cssProperty:>
  ((#:style.active))
    ((:style.prop)): ((:style.value));
  ((/))
