<import: src=shared>

<Body:>
  <body class=tableEditor>
  {{> shared:nav}}
  <button x-bind="click: tableEditor.addRow">Add row</button> 
  <button x-bind="click: tableEditor.addCol">Add column</button>
  <hr>
  <table>
    <tr>
      <td></td>
      ((#table.cols))
        <th x-bind="mousedown: tableEditor.colDown" class=col>((.name))</th>
      ((/))
      <td></td>
    </tr>
    ((#table.rows))
      <tr class=row>
        <th x-bind="mousedown: tableEditor.rowDown">((.name))</th>
        ((#.cells))<td><input value=((.text))></td>((/))
        <td><button x-bind="click: tableEditor.deleteRow">Delete</button></td>
      </tr>
    ((/))
    <tr class=foot>
      <td></td>
      ((#table.cols))<td><button x-bind="click: tableEditor.deleteCol">Delete</button></td>((/))
      <td></td>
    </tr>
  </table>
