<Body:>
  {{> nav}}
  <div id=tableEditor>
    <button x-bind=click:addRow>Add row</button> 
    <button x-bind=click:addCol>Add column</button>
    <hr>
    <table>
      <tr>
        <td></td>
        ((#table.cols))
          <th x-bind=mousedown:colDown class=col>((.name))</th>
        ((/))
        <td></td>
      </tr>
      ((#table.rows))
        <tr class=row>
          <th x-bind=mousedown:rowDown>((.name))</th>
          ((#.cells))<td><input value=((.text))></td>((/))
          <td><button x-bind=click:deleteRow>Delete</button></td>
        </tr>
      ((/))
      <tr class=foot>
        <td></td>
        ((#table.cols))<td><button x-bind=click:deleteCol>Delete</button></td>((/))
        <td></td>
      </tr>
    </table>
  </div>
