@import "nib/vendor";

body,h1,h2,h3,h4,input,pre,select,textarea,th {
  font: 13px/normal arial,sans-serif;
}
body,fieldset,form,h1,h2,h3,h4,input,ul,li,ol,p,td,textarea,th {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0 normal;
}
table {
  border-collapse: collapse;
}
fieldset,img {
  border: 0;
}
