<!--
  This is a static page, so it has views and styles, but no associated scripts
-->

<!-- The reserved name "All" will import all templates from another file -->
<All: from=./shared>

<Title:>
  Chat

<!--
  Static pages don't include the Derby client library, so they can't have bound
  variables that automatically update. However, they do support Mustache-style
  templating with a model and/or context object
-->
<Body:>
  <h1>404</h1>
  <p>Sorry, we can't find anything at <b>{{url}}</b>.
  <p>Try heading back to the <a href=/lobby>lobby</a>.
